{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
        {% endblock %}
        <link rel="apple-touch-icon" href="{% static 'assets/img/apple-icon.png' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/templatemo.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

        <!-- Load fonts style after rendering the layout styles -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
        <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
    </head>
	<body>

    {% block content %} 
    {% endblock %}

    <!-- Start Script -->
    <script src="{% static 'assets/js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/templatemo.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <!-- End Script -->
	</body>
</html>